body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-top: 65px;
	font-size: 22px;
}

h1 {
	font-size: 50px;
}
.work{
	display: none;
}
input {
	margin: 5px;
}

#pokemonInput {
	width:90%;
}
.typeahead.form-control.work.tt-hint{
	width:90%;
}
select {
	
}

#pokeImg {
	margin: 10px;
}

.tt-menu {
     display: none !important;
}
.navbar-nav {
	float: right;
	/*margin-right: 50px;*/
}

#navigation {
	background-color: #ec1c2b;
	border-bottom: 3px solid black;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#logo {
	max-width: 100px;
	float: left;
}

.page-header {
	padding: 30px 0px 30px 0px;
}
#loginPanel{
	width: 75px;
	position: fixed;
	top: 52px;
	font-size: 15px;
	padding-left: 5px;
}
#exampleimg {
	padding: 10px;
}

#footer {
	/*position: absolute;
	bottom: 0;*/
	color: #cccccb;
    width: 100%;
    height: 80px;
	background-color: black;
	border-top: 10px solid #ec1c2b;
}

#pokeball{
	margin-top: -4px;
	margin-left: -8px;
	margin-right: 5px;
	height: 40px;
}

.panel-default .panel-heading{
	background-color: #ec1c2b;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-shadow {
    box-shadow: 10px 10px 5px #d5d5d5;
    border-color: black;
    border-style: solid;
	border-radius: 5px;
}

.profile-border {
    box-shadow: 10px 10px 5px #d5d5d5;
    border-color: black;
    border-style: solid;
	border-radius: 3px;
	border-left: #ec1c2b solid 20px;
	border-right: #ec1c2b solid 20px;
}

#avatar {
	margin: 20px 20px;
	padding-left: 0px;
}

.jumbotron {
	height: 800px;
	width: 100%; 
	background-color: white;

}

#hunting-map {
	width: 100%;
	height: 100%;
}


#exampleimg {
	height: 200px;
	width: 200px;
}

