body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-top: 65px;
	font-size: 22px;
}

.navbar-nav {
	float: right;
	/*margin-right: 50px;*/
}

#navigation {
	background-color: red;
	border-bottom: 3px solid black;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#logo {
	max-width: 100px;
	float: left;
}

h1 {
	font-size: 50px;
}
.page-header {
	padding: 30px 0px 30px 0px;
}

#exampleimg {
	padding: 10px;
}

#footer {
	color: #cccccb;
    width: 100%;
    height: 80px;
	background-color: black;
	border-top: 10px solid red;
}